@model CloudBanking.Models.Draft

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_dashboard.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Draft</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SenderName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SenderName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SenderCNIC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SenderCNIC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DraftAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DraftAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DraftDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DraftDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpiryDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpiryDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BankAccount.AccountCurrency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BankAccount.AccountCurrency)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Branch.BranchName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Branch.BranchName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer.CustomerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.CustomerName)
        </dd>

    </dl>
</div>
<p>
<<<<<<< Updated upstream
    @Html.ActionLink("Edit", "Edit", new { id = Model.DraftID }, new { @class = "btn btn-warning" }) |
=======
    @Html.ActionLink("Edit", "Edit", new { id = Model.DraftID }, new { @class="btn btn-warning"}) |
>>>>>>> Stashed changes
    @Html.ActionLink("Back to List", "Index", new { }, new { @class = "btn btn-primary" })
</p>
