@model CloudBanking.Models.Account

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Account</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AccountCurrency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountCurrency)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccountType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MinimumBalance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MinimumBalance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccounBalance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccounBalance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OpenDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OpenDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Account1.AccountCurrency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Account1.AccountCurrency)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Account2.AccountCurrency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Account2.AccountCurrency)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Branch.BranchName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Branch.BranchName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
