@model IEnumerable<CloudBanking.Models.Account>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_dashboard.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AccountCurrency)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccountType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MinimumBalance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccounBalance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OpenDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Account1.AccountCurrency)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Account2.AccountCurrency)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Branch.BranchName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AccountCurrency)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccountType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MinimumBalance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccounBalance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OpenDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Account1.AccountCurrency)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Account2.AccountCurrency)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Branch.BranchName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AccountID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AccountID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AccountID })
        </td>
    </tr>
}

</table>
