@model CloudBanking.Models.Branch

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_dashboard.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Branch</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BranchName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BranchName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BranchAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BranchAddress)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BranchID }, new { @class="btn btn-warning"}) |
    @Html.ActionLink("Back to List", "Index", new { }, new { @class = "btn btn-primary" })
</p>
